%h2= "Subcategory - #{@subcategory.name}"

%table
  %thead
    %tr
      %th File Name
  %tbody
    - @file_attachments.each do |file_attachment|
      %tr
        %td= link_to file_attachment.attachment_file_file_name, file_attachment_path(file_attachment.id)
%br
%br
- if current_user && current_user.is_admin?
  = link_to t(:new_file), new_category_subcategory_file_attachment_path(@subcategory.category, @subcategory)

