<p id="notice"><%= notice %></p>

<h1> Home </h1>
Hey Mike, do work son!
<br />
<br />
<br />

<%- if current_user && current_user.is_admin?%>
  <%= link_to 'New Category', new_category_path%>
<%end%>


