
html {
  background: #171717;
  body {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
header {
  height: 122px;
  background: url('header_bg.png') repeat;
  .welcome_back {
    display: inline-block;
    float: right;
    margin: 28px 0 0 0;
    p {
      color: #d0ad53;
      display: inline-block;
      margin: 0 10px 0 0;
    }
    .logout {
      @include background-image(linear-gradient(#76b1d7, #4d8fba, #215c82 ));
      border: 1px solid #3691cc;
      color:#fff;
      display: inline-block;
      margin: 0 0 0 20px;
    }
  }
  h1.logo {
    display: inline-block;
    a {
      background: url('logo.png') no-repeat;
      text-indent: -9999em;
      width: 184px;
      height: 57px;
      margin: 15px 0;
      display: inline-block;
    }
  }
  h2 {
    display: inline-block;
    color: #fff;
    font-family: 'arial', 'helvetica', sans-serif;
    font-size: 1.2em;
    vertical-align: middle;
    margin: 0 0 0 8px;
  }
  .navbar {
    margin: 0;
    @include box-shadow (0 0 4px #000);
    .navbar-inner {
      border-top: 2px solid #323232;
      @include background-image(linear-gradient(#444343, #525252)); 
      height: 34px;
      border-radius: 0;
      a {
        color: #fff;
        font-size: 1.2em;
        display: inline-block;
        padding: 6px 10px 9px 10px;
        font-family: 'arial', 'helvetica', sans-serif;
        &:hover {
          @include background-image(linear-gradient(#eee, #fff)); 
          
          background-color: #ededed;
          text-decoration: none;
          color: #434242;
        }
      }
      .admin_link {
        float: right;
      }
    }
  }
}
.right {
  float: right;
}
.subcategory_wrap {
  width: 125px;
  display: inline-block;
  text-align: center;
  background: #888;
  padding: 15px 0;
  margin: 15px 30px 10px 0;
  @include box-shadow(3px 3px 3px #444);

  a {
    color: #fff;
    font-size: 1.2em;
    display: block;
    img {
      width: 84px;
      margin: 0 auto;
    }
  }
}
.main_content {
  @include background-image(linear-gradient(#909090, #3f3f3f));
  .texture {
    background: url('bg_texture.png') repeat;
    height: 100%;
    padding: 20px 0;
  }
  h2 {
    font-size: 2.1em;
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
    margin: 0 0 15px 0;
    color: #fff;
    @include text-shadow(1px 1px 1px #555);
    font-weight: normal;
  }
}
table {
  background: #ddd;
  tr {
    td {
    
    }
    td.centered {
      text-align: center;
    }
  }
}
form {
  margin-top: 10px;
  label {
    color: #fff;
  }
  .field_with_errors {
    input {
      border:1px solid #f00000;
    }
  }
  .form-actions {
    background: none;
    border: none;
    margin: 0;
  }
}
footer {
  @include background-image(linear-gradient(#222, #171717)); 
  background-color: #171717;
  width: 100%;
  p {
    color: #fff;
    padding: 10px 0 0 0;
  }
}