%h2= @category.name
.notice
  %p= notice

- @category.subcategories.each do |subcategory|
  = link_to subcategory.name, category_subcategory_path(@category, subcategory)
- if current_user && current_user.is_admin?
  = link_to 'New File Group', new_category_subcategory_path(@category), :class => 'btn'


